.homeDiv {
  height: 100%;
  padding: 5px;
}
.mainCol {
  /* border: 1px solid white; */
  padding: 10px 18px;
  border-radius: 5px;
  transition: ease;
  /* margin: 2px; */
}
/* .mainCol :hover {
    background-color: aliceblue;
  } */
.colStyle {
  display: flex;
  align-items: center;
  background-color: #2d4040;
  cursor: pointer;
}

.title {
  font-size: 18px;
  color: aliceblue;
  margin-left: 5px;
}
